@import "nav";
@import "landing";
@import "contact";
@import "work";

* {
  box-sizing: content-box;
}

body,
html,
:root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  font-family: 'Xanh Mono', monospace;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  display: flex;
  padding: 0 5em;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:1000px) {
  .container {
    padding: 0
  }

}